<div class='container text-center'>
    <h1>Impressum</h1>
    <p>Wir sind foodtags.de. Exklusive Einkaufmöglichkeiten! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, architecto, impedit, fugiat pariatur non sed dolorem quae at aliquid minus repudiandae aut in quibusdam quidem earum beatae corporis. Fugit, blanditiis!</p>
</div>