/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// Typography Styles
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

//Background Gradient
.navbar, .home-callout {
    /*Gradient provided by @_ighosh uigradiant.com*/
    background: #085078; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #085078 , #85D8CE); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #085078 , #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+0,52b152+19,008a00+100,216400+100&0.97+13,0.95+100 */
    background: -moz-linear-gradient(left,  rgba(131,199,131,0.97) 0%, rgba(97,184,97,0.97) 13%, rgba(82,177,82,0.97) 19%, rgba(33,100,0,0.95) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(131,199,131,0.97) 0%,rgba(97,184,97,0.97) 13%,rgba(82,177,82,0.97) 19%,rgba(33,100,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(131,199,131,0.97) 0%,rgba(97,184,97,0.97) 13%,rgba(82,177,82,0.97) 19%,rgba(33,100,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f783c783', endColorstr='#f2216400',GradientType=1 ); /* IE6-9 */

}

//Nav Styles
.navbar {
    border: none;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

//Nav Buttons
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;
    &:hover, &:focus {
       background-color: #085078; 
    }
}
    
//Homepage Styles
.home-callout {
    color: white;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.alert-notice {
    display: none;
}

.home-signup-links{
    margin-top: 30px;
}
